<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="index, follow" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="apple-mobile-web-app-title" content="Modern Menu" />

	<!-- icon and tile color in hex # for Windows phones -->
	<meta name="msapplication-TileImage" content="img/content/touch-icon.png" />
	<meta name="msapplication-TileColor" content="#ffffff" />

	<script type="text/javascript" src="//use.typekit.net/udg2ohd.js"></script>
	<script type="text/javascript">try {Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" href="css/style.css" />

	<script src="js/modernizr.js"></script>
	<!--[if lte IE 8]>
	<script src="js/respond.js"></script>
	<![endif]-->

	<!-- For everything else -->
	<link rel="shortcut icon" href="img/content/touch-icon.png">
	<!-- Serve one icon for all Apple devices -->
	<link rel="apple-touch-icon-precomposed" href="img/content/touch-icon.png">
<body>
	{{ content }}
</body>
</html>